In [36]:
#Import packages
import pandas as pd
from datetime import datetime

In [3]:
#Read data
df_raw = pd.read_excel('../data/raw/MadreDeDios_MercuryMasterData.xlsx')

In [5]:
#Explore
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4627 entries, 0 to 4626
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Author                       4627 non-null   object
 1   Date data was collected      4627 non-null   object
 2   Sample type                  4627 non-null   object
 3   Species                      4223 non-null   object
 4   Sample size                  4627 non-null   int64
 5   Longitude (X)                4626 non-null   float64
 6   Latitude (Y)                 4626 non-null   float64
 7   Mercury concentration (ppm)  4627 non-null   float64
 8   Margin of error              766 non-null    float64
 9   Mercury type                 4627 non-null   object
 10  Age (human only)             3191 non-null   float64
 11  Sex (human only)             3191 non-null   object
dtypes: float64(5), int64(1), object(6)
memory usage: 433.9+ KB

In [6]:
df_raw.head()

,Author,Date data was collected,Sample type,Species,Sample size,Longitude (X),Latitude (Y),Mercury concentration (ppm),Margin of error,Mercury type,Age (human only),Sex (human only)
0,Roach 2013,2009,Fish,Brachychalcinus sp.,1,-69.33333,-12.78707,0.054,NaN,Total Mercury,NaN,NaN
1,Roach 2013,2009,Fish,Serrasalmus sp,2,-69.33333,-12.78707,0.320,NaN,Total Mercury,NaN,NaN
2,Roach 2013,2009,Fish,Triportheus angulatus,1,-69.33333,-12.78707,0.223,NaN,Total Mercury,NaN,NaN
3,Roach 2013,2009,Fish,Hoplias malabaricus,2,-69.33333,-12.78707,0.466,NaN,Total Mercury,NaN,NaN
4,Roach 2013,2009,Fish,Satanoperca jurupari,2,-69.33333,-12.78707,0.043,NaN,Total Mercury,NaN,NaN

In [20]:
#Extract genus to new field
df_raw['Genus'] = df_raw['Species'].apply(lambda x: str(x).split()[0])

In [62]:
#Define function to fix date formats
def fix_date(the_date):
    if type(the_date) == datetime:
        return "DateTime"
    elif type(the_date) == type(1):
        return datetime.strptime(the_date, '%Y')
    else: return "Range"

In [63]:
#Add a "date filter" for records with specific dates (not years or ranges)
df_raw['Date Filter'] = df_raw['Date data was collected'].apply(lambda x: type(x) == datetime)
df_raw['DateType'] = df_raw['Date data was collected'].apply(fix_date)

In [64]:
df_raw['DateType'].value_counts()

Year        3750
Range        569
DateTime     308
Name: DateType, dtype: int64

In [45]:
df_subset = df_raw.loc[df_raw['Date Filter'] == False]

In [46]:
df_subset['Date data was collected'].unique()

array([2009, '2015-2016', '1990-1993', 2014, 2015, 2013, 2011,
       '2013-2014', '2014-2015', 2017, '2002-2003'], dtype=object)

In [68]:
datetime.strptime("2020", '%Y')

datetime.datetime(2020, 1, 1, 0, 0)