In [1]:
#Import libraries
import pandas as pd

In [15]:
#Read the csv 
df = pd.read_csv('../data/processed/MadreDeDios_MercuryMasterData.csv',
                 parse_dates=['DateCollected'])
df.shape

(4626, 15)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4626 entries, 0 to 4625
Data columns (total 15 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Author                       4626 non-null   object
 1   Date data was collected      4626 non-null   object
 2   Sample type                  4626 non-null   object
 3   Species                      4222 non-null   object
 4   Sample size                  4626 non-null   int64
 5   Longitude (X)                4626 non-null   float64
 6   Latitude (Y)                 4626 non-null   float64
 7   Mercury concentration (ppm)  4626 non-null   float64
 8   Margin of error              766 non-null    float64
 9   Mercury type                 4626 non-null   object
 10  Age (human only)             3190 non-null   float64
 11  Sex (human only)             3190 non-null   object
 12  DateCollected                308 non-null    datetime64[ns]
 13  StartYear                    4626 non-null   int64
 14  EndYear                      4626 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(3), object(6)
memory usage: 542.2+ KB

In [20]:
#Pull our records with complete timestamps
df_timestamped = df.loc[~(df['DateCollected'].isna())].copy()
df_timestamped.shape

(308, 15)

In [65]:
#Add month, day of year, and quarter fields
df_timestamped['month'] = pd.DatetimeIndex(df_timestamped['DateCollected']).month
df_timestamped['doy'] = pd.DatetimeIndex(df_timestamped['DateCollected']).dayofyear
df_timestamped['quarter'] = pd.DatetimeIndex(df_timestamped['DateCollected']).quarter
df_timestamped.iloc[:4,-3:]

    month  doy  quarter
13      1   26        1
14      1   26        1
15      1   26        1
16      1   26        1

In [66]:
df_timestamped.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 308 entries, 13 to 320
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Author                       308 non-null    object
 1   Date data was collected      308 non-null    object
 2   Sample type                  308 non-null    object
 3   Species                      308 non-null    object
 4   Sample size                  308 non-null    int64
 5   Longitude (X)                308 non-null    float64
 6   Latitude (Y)                 308 non-null    float64
 7   Mercury concentration (ppm)  308 non-null    float64
 8   Margin of error              297 non-null    float64
 9   Mercury type                 308 non-null    object
 10  Age (human only)             0 non-null      float64
 11  Sex (human only)             0 non-null      object
 12  DateCollected                308 non-null    datetime64[ns]
 13  StartYear                    308 non-null    int64
 14  EndYear                      308 non-null    int64
 15  month                        308 non-null    int64
 16  doy                          308 non-null    int64
 17  quarter                      308 non-null    int64
dtypes: datetime64[ns](1), float64(5), int64(6), object(6)
memory usage: 45.7+ KB

In [68]:
df_timestamped['month'].value_counts(sort=False)#.plot(kind='bar');

1     48
2     64
8    196
Name: month, dtype: int64

In [62]:
dayDF = df_timestamped['doy'].value_counts(sort=False)
dayDF

26     10
27     11
28     22
29      5
38     16
39     29
40     19
215     9
216    11
217    16
218     5
219    53
220     1
227    21
228     9
229    23
230    48
Name: doy, dtype: int64

In [59]:
import numpy as np